.container
  .row
    = haml :'sections'

  %hr

  = haml :'sections/audio'
  = haml :'sections/camera'
  = haml :'sections/skylights'
  = haml :'sections/insulation'
  = haml :'sections/floor'
  = haml :'sections/bulkhead'
  = haml :'sections/ceiling'
  = haml :'sections/walls'
